/*all html files*/
.container{
    text-align:center;
}
body{
    background:#C1C1BF;
    font-family: 'Times Roman', Times, serif;
}
nav {
    display: flex;
    justify-content: flex-end;
}
.navButton {
    padding: 8px;
}
a {
    color: blue;
}
.bar {
    background-color: black;
    height: 1px;
    margin: 20px;
}
.icon {width:200px;}
.icons {
    display: flex;
    justify-content: center;
    align-items: baseline;
    margin: 20px;
}
.footer {
    font-size: 12px;
    font-weight: bolder;
}
/*index.html (actual project)*/
.input {
    margin: 10px;
}
button:hover {
    border-color: darkgray;
}
.output {
    border: 1px dashed;
    width: 200px;
    height: 10px;
    padding: 50px;
    margin: auto;
    background-color: white;

}
#output {
    vertical-align: top;
}
#amazing {
    width: 200px;
    margin: 10px;
}
/*under_construction.html*/
#under-construction{
    width: 400px;
}
