/*all html files*/
.container{
    text-align:center;
}
body{
    background:grey;
    font-family: 'Times New Roman', Times, serif;
}
#title {
    text-align: left;
    margin-left: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
}
nav {
    display: flex;
    justify-content: flex-end;
}
.navButton {
    padding: 8px;
}
a {
    color: blue;
}
.bar {
    background-color: black;
    height: 1px;
    margin: 20px;
}
.icon {width:200px;}
.icons {
    display: flex;
    justify-content: center;
    align-items: baseline;
}
.footer {
    font-size: 12px;
    font-weight: bolder;
}
/*index.html (actual project)*/
.input {
    margin: 10px;
}
button:hover {
    border-color: darkgray;
}
.output {
    border: 1px dashed;
    width: 200px;
    height: 10px;
    padding: 50px;
    margin: auto;
    background-color: white;
}
#amazing {
    width: 200px;
    margin: 10px;
}
/*under_construction.html*/
#under-construction{
    width: 200px;
}
